* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #262626;
  /* -webkit-background-size: cover; */
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.nav-box {
  width: auto;
  margin: 0;
}
.nav-box ul {
  list-style: none;
  margin-top: 2%;
  padding: 0;
  margin-top: 0px;
}
.nav-box ul li {
  background: #262626;
  // width: 170px;
  padding: 22px 33px;
  border: 1px solid #fff;
  // height: 50px;
  // line-height: 50px;
  text-align: center;
  display: inline-block;
  // float: left;
  color: #fff;
  font-size: 16px;
  position: relative;
  font-family: poppins;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-box ul li:hover {
  background: crimson;
}

.nav-box ul ul {
  display: none;
}
.nav-box ul li:hover > ul {
  display: block;
  position: absolute;
}

h2 {
  line-height: 78px;
  border-width: 0px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
  font-weight: 1000;
  font-size: 60px;
  @media only screen and(max-width:768px) {
    font-size: 35px;
    line-height: 1.1;
    padding: 0;
    width: 10em;
  }
}
p {
  line-height: 27px;
  margin: 0px 0px 40px;
  padding: 0px;
  font-weight: 560;
  font-size: 15px;
  @media only screen and(max-width:768px) {
    width: 40em;
    font-size: 10px;
    margin-bottom: 10px;
  }
}
a {
  border: 2px solid #1bbce8;
  font-weight: 700;
  padding: 10px 40px;
  background-color: #1bbce8;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  @media only screen and(max-width:768px) {
    font-size: 10px;
    padding: 10px 20px;
  }
  &:hover {
    background: none;
    color: #1bbce8;
  }
}

.carousel-cell {
  display: inline-block;
  width: 50%; /* half-width */
  height: 160px;
  margin-right: 10px;
}

/* 
.us-box {
  overflow: hidden;
  // padding: 2em 0em 1em 1em;
  // padding: 45px;
  height: 95%;
  margin: 1em;
  width: 90%;
  position: relative;
  .us-content {
    background-color: #19abd3;
    position: relative;
    height: 100%;
    &:hover{
      .overlay{
        right: 0;
      }
    }
    .us-txt {
      position: absolute;
      z-index: 1000;
      h4 {
        margin-bottom: 35px;
        position: relative;
        font-size: 20px;
        color: #fff;
      }
      span {
        position: absolute;
        top: 25%;
        @media only screen and (max-width: 768px) {
          top: 35%;
        }
        &::after {
          position: absolute;
          content: "";
          width: 60px;
          height: 3px;
          // left: 48%;
          // top: 45%;
          @media only screen and(max-width:768px) {
            top: 30%;
            left: 43%;
          }
          border-radius: 10px;
          background-color: #163a45;
        }
      }
      p {
        margin: 0 0 10px;
        color: #fff;
      }
    }
    .us-overlay {
      transition: 0.5s;
      position: absolute;
      background-color: #163a45;
      top: 0;
      right: 100%;
      left: 0;
      bottom: 0;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    transition: 0.4s ease-in-out;
    width: 60%;
    padding: 30px;
    // &:hover {
    //   background-color: #163a45;
    // }
  }
  .us-img {
    position: absolute;
    right: 0;
    top: 0%;
    width: 40%;
    @media only screen and (max-width: 768px) {
      display: none;
    }

    // height: fit-content;
    img {
      width: 100%;
    }
  }
} */
